datasets/UrbanNav/UrbanNav_TK_Obaida_Input.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_TK_Shinjuku_GT.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_TK_Shinjuku_Input.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Deep_Urban_GT.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Deep_Urban_Input.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Harsh_Urban_GT.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Harsh_Urban_Input.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Medium_Urban_Input.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_HK_Medium_Urban_GT.txt filter=lfs diff=lfs merge=lfs -text
datasets/UrbanNav/UrbanNav_TK_Obaida_GT.txt filter=lfs diff=lfs merge=lfs -text
